@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Open+Sans:ital,wght@0,300;0,700;1,300&display=swap");

font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Open Sans', sans-serif;



  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


.container {
    /* background-image: url("./images/aedrian-bMkRxaVMvj4-unsplash.jpg"); */
    /* background-size: cover; */
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    position: fixed;
}

.logo .socials  {
    list-style: none;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 15px;
    
    
}
.logo .socials li{
    margin: 5px;
}

    .logo .socials li  a {
        color: white;
    }
    .logo .socials :hover {
        color:darkslategray;

    }

.container .navbar .menu {
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.navbar .menu li {
    list-style-type: none;
    margin:5px

}
 .navbar .menu li a {
    color:#fff;
    text-decoration: none; 
}

.navbar .menu li a:hover {
 color:darkslategray;
}


.box-1{
    margin: 15px 40PX 0px 40px; 
   padding: 0 40px;
}

.box-1 h1 {
    
    font-size: 30px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: Bold 700;
    color:whitesmoke;
  


}
.box-1 h1 span{ 
    color:rgb(239, 244, 153);
    font-size: larger;
    font-style:normal;
}
p {
    color: white;
    font-size:medium;  
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}


body {
    color:whitesmoke;
    background-color:black;
}

.box-2 {
    
    background-color: rgba(77, 48, 37, 0.5);
    height: 15rem;
    width: fit-content;
    margin: 2rem;
    padding: 0 70px;
  }
    


.box-2 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: crimson;
    font-size: 20px;
    font-weight: Bold 400;
    font-family: 'Inter', sans-serif;
 }   




.box-2 h1 {
    align-items:flex-end;
    justify-content: center;
    color: whitesmoke;
}


    }
    .footer {
    font-size: 11px;
        text-align: center;
    


        
    }
    
    
    /* STYLING OF CONTACT PAGE */
    body {
        text-align: center;
    background-color: #000000;
    }
    .contacts {
        background-image: url("./images/aedrian-bMkRxaVMvj4-unsplash.jpg");
        background-size: cover;
        /* background-color: rgba(77, 156, 160, 0.5); */
        color: lightyellow;
        height: 100vh;
    }

    
 .wrapper { 
    
} 


    .contacts .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }
    .contacts .wrapper h1 {
        color:lightyellow;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .footer {
    
    
    }

    @media only screen and (max-width: 1440px){

.max-width .menu {
    width: 100%;
    background-color: linear-gradient(#ff54a2, #ff575a);
    position: absolute;
}
.max-width .menu li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
    }